# Lists core developers to be automatically added as reviewers for pull requests.
# Only users with write access to the repository will be automatically added as
# reviewers and contacted.

aeon/anomaly_detection/ @CodeLionX @MatthewMiddlehurst

aeon/benchmarking/ @TonyBagnall @MatthewMiddlehurst @hadifawaz1999 @dguijo

aeon/classification/ @MatthewMiddlehurst @TonyBagnall
aeon/classification/deep_learning/ @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/ @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/ordinal_classification/ @dguijo @MatthewMiddlehurst @TonyBagnall

aeon/clustering/ @chrisholder @TonyBagnall

aeon/distances/ @chrisholder @TonyBagnall

aeon/networks/ @hadifawaz1999

aeon/performance_metrics/anomaly_detection/ @codelionx @MatthewMiddlehurst

aeon/regression/ @MatthewMiddlehurst @TonyBagnall @dguijo
aeon/regression/deep_learning @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall @dguijo

aeon/segmentation/ @TonyBagnall

aeon/similarity_search/ @baraline

aeon/transformations/collection/ @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/dictionary_based/ @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py @baraline

aeon/transformations/series/ @TonyBagnall
aeon/transformations/series/_clasp.py @patrickzib
aeon/transformations/series/_scaled_logit.py @ltsaprounis
aeon/transformations/series/_theta.py @GuzalBulatova

aeon/utils/numba/ @baraline @MatthewMiddlehurst

aeon/visualisation/ @baraline @MatthewMiddlehurst

.github/ @aeon-toolkit/aeon-infrastructure-workgroup

docs/get_involved/code_of_conduct.rst @aeon-toolkit/aeon-code-of-conduct-workgroup
docs/get_involved/governance.rst @aeon-toolkit/aeon-core-developers
