recursive-include docs *
recursive-include examples *
recursive-include aeon *.py
recursive-include aeon *.c *.h *.pyx *.pxd *.pxi *.tp
recursive-include aeon/datasets *.csv *.csv.gz *.arff *.arff.gz *.txt *.ts *.tsv *.tsf
include *.rst
include *.md
include LICENSE
include conftest.py
include aeon/registry/README.md
