recursive-include docs *
recursive-include examples *
recursive-include aeon *.py
recursive-include aeon/datasets *.csv *.csv.gz *.arff *.arff.gz *.txt *.ts *.tsv *.tsf
include aeon/registry/README.md
include .coveragerc
incluce conftest.py
include LICENSE
include MANIFEST.in
include pyproject.toml
include README.md
include setup.cfg

recursive-exclude .binder *
recursive-exclude build_tools *
recursive-exclude extension_templates *
exclude .all-contributorsrc
exclude .codecov.yml
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude CHANGELOG.md
exclude CODE_OF_CONDUCT.md
exclude CODEOWNERS
exclude CONTRIBUTING.md
exclude CONTRIBUTORS.md
exclude GOVERNANCE.md
