/* teams table */

.aeon-teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aeon-teams-container > div {
  width: 80px;
  margin: 5px;
  font-size: 0.8rem;
}

img.avatar {
  width: 100%;
  border-radius: 10px;
}

/* card images */

.aeon-card-image-m {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  background-color: white;
}

.aeon-card-image,
.aeon-card-image-l {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  background-color: white;
}

/* Removes margin issues caused by class.rst template error for some cases */
.autosummary table {
  margin: 0;
}

/* DataFrame Color Variables */
/* The following variables are defined only here, */
/* meaning they are new variables. */
/* They are used for displaying pandas dataframes in the rendered notebooks. */

@media (prefers-color-scheme: dark) {
  body:not([data-theme="light"]) {
    --dataframe-header: #1f1f1f;
    --dataframe-body-1: #2f2f2f;
    --dataframe-body-2: #3f3f3f;
    --dataframe-text: #f0f0f0;
  }
}

body[data-theme="dark"] {
    --dataframe-header: #1f1f1f;
    --dataframe-body-1: #2f2f2f;
    --dataframe-body-2: #3f3f3f;
    --dataframe-text: #f0f0f0;
}

body {
    --dataframe-header: #f0f0f0;
    --dataframe-body-1: #f8f8f8;
    --dataframe-body-2: #f0f0f0;
    --dataframe-text: #000000;
}

  .dataframe > tbody > tr:nth-child(odd) {
    background-color: var(--dataframe-body-1) !important;
    color: var(--dataframe-text) !important;
  }

  .dataframe > tbody > tr:nth-child(even) {
    background-color: var(--dataframe-body-2) !important;
    color: var(--dataframe-text) !important;
  }

  .dataframe > thead {
    background-color: var(--dataframe-header) !important;
    color: var(--dataframe-text) !important;
  }
