name: Periodic tests

on:
  schedule:
    # every day at 1:30 AM UTC
    - cron:  "30 1 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-manifest:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Run check-manifest
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: check-manifest --hook-stage manual

  pre-commit:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  run-notebook-examples:
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install latest version of bash
        run: |
          brew install bash
          /opt/homebrew/bin/bash --version

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Use numba cache to set env variables but not restore cache
        uses: ./.github/actions/numba_cache
        with:
          cache_name: "run-notebook-examples"
          runner_os: ${{ runner.os }}
          python_version: "3.12"
          restore_cache: "false"

      - name: Install dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,binder,dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run example notebooks
        run: .github/utilities/run_examples.sh false
        shell: bash

      - name: Save new cache
        uses: actions/cache/save@v5
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-run-notebook-examples-${{ runner.os }}-3.12-${{ env.CURRENT_DATE }}

  test-core-imports:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .

      - name: Show dependencies
        run: python -m pip list

      - name: Run import test
        run: python aeon/testing/tests/test_core_imports.py

  test-no-soft-deps:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Use numba cache to set env variables but not restore cache
        uses: ./.github/actions/numba_cache
        with:
          cache_name: "test-no-soft-deps"
          runner_os: ${{ runner.os }}
          python_version: "3.12"
          restore_cache: "false"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest -n logical

      - name: Save new cache
        uses: actions/cache/save@v5
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-test-no-soft-deps-${{ runner.os }}-3.12-${{ env.CURRENT_DATE }}

  pytest:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, macOS-14, windows-2022 ]
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Clear disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          dotnet: false
          large-packages: false
          swap-storage: false

      - name: Set swap space
        if: runner.os == 'Linux'
        uses: pierotofy/set-swap-space@v1.0
        with:
          swap-size-gb: 12

      - name: Use numba cache to set env variables but not restore cache
        uses: ./.github/actions/numba_cache
        with:
          cache_name: "pytest"
          runner_os: ${{ runner.os }}
          python_version: ${{ matrix.python-version }}
          restore_cache: "false"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest -n logical

      - name: Save new cache
        uses: actions/cache/save@v5
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-pytest-${{ runner.os }}-${{ matrix.python-version}}-${{ env.CURRENT_DATE }}

  doctests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Use numba cache to set env variables but not restore cache
        uses: ./.github/actions/numba_cache
        with:
          cache_name: "doctests"
          runner_os: ${{ runner.os }}
          python_version: "3.12"
          restore_cache: "false"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest -n logical --doctest-only --doctest-continue-on-failure

      - name: Save new cache
        uses: actions/cache/save@v5
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-doctests-${{ runner.os }}-3.12-${{ env.CURRENT_DATE }}

  multithreaded-estimators:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Use numba cache to set env variables but not restore cache
        uses: ./.github/actions/numba_cache
        with:
          cache_name: "multithreaded-estimators"
          runner_os: ${{ runner.os }}
          python_version: "3.12"
          restore_cache: "false"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest aeon/testing/tests/ --enablethreading true -k "check_estimator_multithreading"

      - name: Save new cache
        uses: actions/cache/save@v5
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-multithreaded-estimators-${{ runner.os }}-3.12-${{ env.CURRENT_DATE }}

  codecov:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Disable Numba JIT
        run: echo "NUMBA_DISABLE_JIT=1" >> $GITHUB_ENV

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,unstable_extras,dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest -n logical --cov=aeon --cov-report=xml --timeout 1800

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
