name: Periodic Tests

on:
  schedule:
    # every day at 1:30 AM UTC
    - cron:  "30 1 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-manifest:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: check-manifest --hook-stage manual

  pre-commit:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  run-notebook-examples:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: ./.github/numba_cache
        with:
          cache_name: "run-notebook-examples"
          runner_os: ${{ runner.os }}
          python_version: "3.10"
          restore_cache: "false"

      - name: Install dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,binder,dev]

      - name: Run example notebooks
        run: build_tools/run_examples.sh
        shell: bash

      - uses: actions/cache/save@v3
        id: save-cache
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-test-examples-${{ runner.os }}-3.10

  test-nosoftdeps:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: ./.github/numba_cache
        with:
          cache_name: "test-nosoftdeps"
          runner_os: ${{ runner.os }}
          python_version: "3.10"
          restore_cache: "false"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: |
          python -m pytest -k 'test_all_estimators' --pyargs aeon.registry
          python -m pytest -k 'test_check_estimator_does_not_raise' --pyargs aeon.utils
          python -m pytest --pyargs aeon.testing.test_softdeps

      - uses: actions/cache/save@v3
        id: save-cache
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-test-nosoftdeps-${{ runner.os }}-3.10

  test-nosoftdeps-full:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: ./.github/numba_cache
        with:
          cache_name: "test-nosoftdeps-full"
          runner_os: ${{ runner.os }}
          python_version: "3.10"
          restore_cache: "false"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest -k 'not TestAll' --ignore=aeon/utils/tests/test_mlflow_aeon_model_export.py

      - uses: actions/cache/save@v3
        id: save-cache
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-test-nosoftdeps-full-${{ runner.os }}-3.10

  pytest:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, macOS-13, windows-2022 ]
        python-version: [ "3.8", "3.9", "3.10", "3.11", "3.12" ]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/numba_cache
        with:
          cache_name: "pytest"
          runner_os: ${{ runner.os }}
          python_version: ${{ matrix.python-version }}
          restore_cache: "false"

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest

      - uses: actions/cache/save@v3
        id: save-cache
        with:
          path: ${{ github.workspace }}/.numba_cache
          # Save cache with the current date (ENV set in numba_cache action)
          key: numba-pytest-${{ runner.os }}-${{ matrix.python-version}}

  codecov:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Disable Numba JIT
        run: echo "NUMBA_DISABLE_JIT=1" >> $GITHUB_ENV

      - name: Install aeon and dependencies
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install .[all_extras,unstable_extras,dev]

      - name: Show dependencies
        run: python -m pip list

      - name: Run tests
        run: python -m pytest --cov=aeon --cov-report=xml --timeout 1800

      - uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
