name: PR examples

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "examples/**"
      - "aeon/**"
      - ".github/workflows/**"
      - "pyproject.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  run-notebook-examples:
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install latest version of bash
        run: |
          brew install bash
          /opt/homebrew/bin/bash --version

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - if: ${{ github.event_name != 'pull_request' || !contains(github.event.pull_request.labels.*.name, 'no numba cache') }}
        name: Restore numba cache
        uses: ./.github/actions/numba_cache
        with:
          cache_name: "run-notebook-examples"
          runner_os: ${{ runner.os }}
          python_version: "3.12"

      - name: Install aeon and dependencies
        uses: ./.github/actions/cpu_all_extras
        with:
          additional_extras: "dev,binder"

      - name: Show dependencies
        run: python -m pip list

      - name: Run example notebooks
        run: .github/utilities/run_examples.sh ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'full examples run') }}
        shell: bash
