name: PR Examples

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "examples/**"
      - "aeon/**"
      - ".github/workflows/**"
      - "pyproject.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  run-notebook-examples:
    runs-on: macOS-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - if: ${{ github.event_name != 'pull_request' || !contains(github.event.pull_request.labels.*.name, 'no numba cache') }}
        name: Restore numba cache
        uses: ./.github/actions/numba_cache
        with:
          cache_name: "run-notebook-examples"
          runner_os: ${{ runner.os }}
          python_version: "3.10"

      - uses: ./.github/actions/cpu_all_extras
        with:
          additional_extras: "dev,binder"

      - name: Run example notebooks
        run: .github/utilities/run_examples.sh ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'full examples run') }}
        shell: bash
