name: PR Opened
on:
  pull_request:
    branches:
      - main
#  pull_request_target:
#    types: [opened]

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  # based on the scikit-learn 1.3.1 PR labelers
  labeler:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: build_tools

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install PyGithub
        run: pip install -Uq PyGithub

      - name: Label pull request
        id: label-pr
        run: python build_tools/pr_labeler.py
        env:
          CONTEXT_GITHUB: ${{ toJson(github) }}

      - name: Write pull request comment
        run: python build_tools/pr_open_commenter.py ${{ steps.label-pr.outputs.title-labels }} ${{ steps.label-pr.outputs.title-labels-new }} ${{ steps.label-pr.outputs.content-labels }} ${{ steps.label-pr.outputs.content-labels-status }}
        env:
          CONTEXT_GITHUB: ${{ toJson(github) }}
