name: Release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  check-manifest:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: check-manifest --hook-stage manual

  build-project:
    needs: check-manifest
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Build project
        run: |
          python -m pip install build
          python -m build

      - name: Store build files
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/*
          retention-days: 5

  test-wheels:
    needs: build-project
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, macOS-14, windows-2022 ]
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Clear disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          dotnet: false
          large-packages: false
          swap-storage: false

      - name: Set swap space
        if: runner.os == 'Linux'
        uses: pierotofy/set-swap-space@v1.0
        with:
          swap-size-gb: 12

      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - if: runner.os == 'Windows'
        name: Windows wheel filename
        run: echo "WHEELNAME=$(ls ./dist/aeon-*-none-any.whl)" >> $env:GITHUB_ENV
      - if: runner.os != 'Windows'
        name: Unix wheel filename
        run: echo "WHEELNAME=$(ls ./dist/aeon-*-none-any.whl)" >> $GITHUB_ENV

      - name: Use numba cache to set env variables but not restore cache
        uses: ./.github/actions/numba_cache
        with:
            cache_name: "release"
            runner_os: ${{ runner.os }}
            python_version: ${{ matrix.python-version }}
            restore_cache: "false"

      - if: runner.os == 'Windows'
        name: Windows install
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install "${env:WHEELNAME}[all_extras,dev]"
      - if: runner.os != 'Windows'
        name: Unix install
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install "${{ env.WHEELNAME }}[all_extras,dev]"

      - name: Show dependencies
        run: python -m pip list

      - name: Tests
        run: python -m pytest -n logical

  upload-wheels:
    needs: test-wheels
    runs-on: ubuntu-24.04

    environment:
      name: release
      url: https://pypi.org/p/aeon/
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
